.about_top {
  padding: 70px 0;
}

.about_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.52px;
  text-align: left;
  margin-bottom: 32px;
}

.navigate_link {
  color: rgba(22, 97, 245, 1);
  transition: 0.6s;
}

.navigate_link:hover {
  text-decoration: underline;
}

.carth_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  align-items: center;
}
.about_carth {
  position: relative;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.position_Btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about_custom_btn {
  position: absolute;
  top: -40px;
  padding: 7px 13px;
  background-color: rgba(22, 97, 245, 1);
  color: white;
  border-radius: 10px;
}

.about_text {
  max-width: 246px;
  min-height: 154px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 14px;
}

.min_height {
  min-height: 175px;
}

.about_bottom {
  padding: 70px 0px 0px 0px;
}

@media screen and (max-width: 1160px){
  .carth_wrapper {
    gap: 5px;
  }
  
  .about_carth {
    min-height: 370px;
  }
  .about_custom_btn {
    text-wrap: nowrap;
  }
}

@media screen and (max-width: 960px) {
  .about_top {
    padding: 40px 0;
  }

  .about_title {
    font-size: 32px;
    line-height: 38.4px;
    margin-bottom: 40px;
  }

  .carth_wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: normal;
  }

  .about_text {
    max-width: 100%;
    min-height: 154px;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 14px;
  }

  .about_bottom {
    padding: 70px 0px 70px 0px;
  }

  .position_arrow {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .arrow {
    transform: rotate(90deg);
    width: 100px;
    z-index: 1;
  }
}
