.statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 96px;
}

.title {
    text-align: center;
    color: var(--dark-blue);
}

.title h1 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
}

.title p {
    font-size: 20px;
}

.form {
    background-color: var(--white);
    width: 840px;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 100px;
    margin-top: 40px;
}

.submit_button {
    position: absolute;
    right: 10px;
    bottom: -40px;
}

.submit_button,
.upload_file_button {
    background-color: var(--basic-blue);
    color: var(--white);
    border-radius: 10px;
    border: none;
    padding: 14px 49px;
    margin-top: 20px;
    font-size: 20px;
    white-space: nowrap;
    cursor: pointer;
}

@media screen and (max-width: 840px) {
    .form {
        width: 100vw !important;
    }

    .edit_form {
        width: 100% !important;
    }

    .submit_button {
        margin: 0 auto;
    }
}

@media screen and (max-width: 776px) {
    .statement {
        margin-bottom: 0;
    }

    .form {
        padding-bottom: 226px !important;
    }

    .submit_button {
        right: 50% !important;
        transform: translateX(50%);
        bottom: 156px;
    }
}

@media screen and (max-width: 478px) {
    .submit_button {
        width: 80%;
    }
}
