.ticket_header_table {
    display: flex;
    flex-direction: column;
}

.ticket_header_table > div > p:last-child {
    text-align: right;
}

.layout_with_points {
    grid-template-columns: repeat(5, 1fr) 1fr !important;
}

.out_block,
.in_block {
    --padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 2fr;
    padding: var(--padding);
    white-space: nowrap;
}

.out_block {
    color: var(--black-50);
}

.in_block {
    border-radius: 12px 12px 0 0;
    background: var(--white);
}

.in_block p:nth-child(3) {
    color: var(--black-50);
}

.ticketCard {
    border-radius: 0 0 12px 12px;
    background: var(--white);
    padding: 11px 20px 32px 20px;
}

.ticketCard_cause {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.ticketCard_confirm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    gap: 40px;
    margin-bottom: 30px;
}

.ticketCard_confirm_error {
    position: absolute;
    left: 0;
    bottom: -25px;
    color: var(--red);
    font-size: 14px;
}

.ticketCard_confirm_button {
    position: static;
    padding: 14px 40px;
    margin: 0;
    margin-left: 140px;
}

.refused {
    color: var(--red);
}

.accepted {
    color: var(--green);
}

.modification {
    color: var(--yellow);
}

.pending {
    color: var(--basic-blue);
}

.mark {
    color: var(--purple);
}

@media screen and (max-width: 1251px) {
    .ticketCard_confirm_button {
        margin-left: 0px;
    }
}

@media screen and (max-width: 997px) {
    .status_step_container {
        padding: 0 20px;
    }

    .ticket_header_table {
        font-size: 12px;
    }

    .ticketCard_confirm {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .ticketCard_confirm_button {
        grid-area: 2 / 2 / span 1 / span 1;
        margin-left: 0;
        transform: none;
    }
}

@media screen and (max-width: 590px) {
    .ticketCard_confirm {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ticketCard_confirm div,
    .ticketCard_confirm_button {
        width: 100%;
    }
}