.main {
  opacity: 1;
}

.hidden,
.text_custom {
  display: none;
}

.main_logo {
  width: 100%;
  border-radius: 10px;
}

.mainSection {
  background-color: white;
}

.main_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 23px;
  padding-top: 70px;
}

.main_text {
  padding-bottom: 63px;
}

.mainSection a {
  color: #1661f5;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
}

.text_bold {
  font-size: 25px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  text-decoration: underline;
}

.section_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoTopBg {
  position: absolute;
  top: 0;
  left: 0;
}

.infoBottomBg {
  position: absolute;
  bottom: 0;
  right: 0;
}

.carth {
  background: #ebeff6;
  border-radius: 20px;
  padding: 20px 20px 30px 20px;
  margin-top: 64px;
  margin-bottom: 110px;
}

.carth_flex {
  display: flex;
  justify-content: space-around;
  gap: 2px;
}

.carth_info {
  max-width: 370px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 40px 20px;
  gap: 32px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}

.carth_title {
  width: 250px;
  color: black;
  margin: 30px 71px 0 71px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: center;
}

.custom_btn {
  display: block;
  width: 175px;
  color: white;
  padding: 10px;
  background-color: #1661f5;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 14px;
}

.carth_btn {
  cursor: pointer;
  margin: 6px;
  max-width: 190px;
  padding: 9px 16px;
  border: none;
  transition: 0.4s;
  border-radius: 10px;
}

.active_btn {
  color: white;
  background-color: #1661f5;
}

.carth_btn:hover {
  opacity: 0.7;
}

.carth_info_text {
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26.4px;
  text-align: center;
}

.custom_bg {
  background-color: #ebeff6;
  border-radius: 10px;
  padding: 10px;
  width: 336px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
}

.btn_flex {
  display: flex;
  justify-content: center;
}

.carth_text {
  max-width: 881px;
  text-align: center;
  margin: 0 auto;
  margin-top: 32px;
}

.bot_wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.bot {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  position: relative;
}

.bot_bnt {
  cursor: pointer;
  border: none;
  border-radius: 40px;
  background: inherit;
}

.bot_modal {
  position: absolute;
  bottom: 120px;
  right: 30px;
  width: 517px;
  padding: 90px 10px 10px 10px;
  height: 578px;
  border-radius: 20px;
  background: linear-gradient(
    179.96deg,
    #0b0a2e 0.03%,
    rgba(0, 41, 122, 0.48) 111.64%
  );
  overflow: hidden;
  overflow-y: scroll;
  animation: ease-in modal 0.5s;
}

.img_position {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 45px;
}

.close_btn {
  position: absolute;
  border: none;
  cursor: pointer;
  background: transparent;
  width: 20px;
  height: 20px;
  top: 30px;
  left: 433px;
  padding: 6px;
  gap: 0;
  opacity: 0.8;
}

.modal_questions {
  border: none;
  background: var(--Blue-light, rgba(22, 97, 160, 1));
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.bot_text {
  animation: ease-in-out modal 0.8s;
  color: #fff;
  padding: 0px 20px;
}

.link {
  color: rgb(68, 68, 240);
  font-size: 20px;
  border-bottom: 2px solid rgb(68, 68, 240);
  transition: 0.6s;
}

.link:hover {
  font-size: 21px;
}

@media screen and (max-width: 1400px) {
  .carth {
    padding: 20px 10px 20px 10px;
  }

  .carth_info {
    max-width: 320px;
    gap: 16px;
    padding: 10px 10px 40px 10px;
  }

  .carth_title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
  }

  .custom_bg {
    padding: 10px;
    width: 266px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
  }
}

@media screen and (max-width: 1150px) {
  .carth {
    margin: 80px 35px 80px 35px;
    background: #ebeff6;
    border-radius: 20px;
    padding: 20px 20px 30px 20px;
  }

  .carth_flex {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .carth_info {
    max-width: 100%;
    width: 100%;
    min-height: 240px;
  }

  .carth_text {
    display: none;
  }

  .text_custom {
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 850px) {
  .main_logo {
    border-radius: 0;
  }

  .main_title {
    padding-top: 40px;
  }

  .main_text {
    padding-bottom: 52px;
  }

  .btn_flex,
  .button_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .carth_btn {
    max-width: 100%;
  }

  .bot {
    display: none;
  }
}

@keyframes modal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
