.drop_zone {
    height: 340px;
    width: 97%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin: 30px auto 0;
    padding: 14px;
    outline: none;
    /*overflow: hidden;*/
}

.drop_zone_over {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0001;
    margin: 2px;
    border-radius: 10px;
    z-index: 1;
}

.drop_zone_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.drop_zone_content h2 {
    font-size: 18px;
    font-weight: 500;
    color: var(--black-50);
}

.drop_zone_content p {
    font-size: 1rem;
    color: var(--black-50);
    max-width: 263px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 8px;
}

.upload_file_button {
    box-shadow: 0px 0px 9px 0px #00000063;
    padding: 13px 39px;
    font-size: 18px !important;
}

.files {
    position: absolute;
    bottom: 0;
    left: 0;
}

.files div {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    margin-top: 10px;
}

.files a {
    text-decoration: underline;
    text-decoration-color: var(--basic-blue);
}

.files p {
    color: var(--basic-blue);
    max-width: max-content;
    font-size: 12px;
    margin: 0;
}

.files img {
    cursor: pointer;
}

.files_description {
    padding: 0 9px;
    margin-top: 25px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.files_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.files_info span {
    color: var(--basic-blue);
}

.size_indicator_wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.size_indicator {
    width: 310px;
    height: 5px;
    border-radius: 100px;
    background-color: var(--black-30);
    overflow: hidden;
}

.size_indicator_filler {
    background-color: var(--basic-blue);
    height: 100%;
    border-radius: 100px;
    transition: width 250ms linear;
}

.files_info_list {
    color: var(--black-50);
}

.files_info_list li {
    position: relative;
    max-width: 300px;
    margin-bottom: 10px;
    padding: 0 13px;
    line-height: 21px;
}

.files_info_list li::marker {
    content: '';
}

.files_info_list li::before {
    content: '•';
    font-size: 40px;
    color: #000;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
}

.files_info_list b,
.files_info_list strong {
    color: #000;
}

.files_info_list strong {
    font-weight: 600;
}

@media screen and (max-width: 776px) {
    .drop_zone {
        height: 260px;
    }

    .files {
        right: -14px !important;
        left: initial;
        bottom: -95px;
        z-index: 1;
    }

    .files_info {
        padding: 0 !important;
    }

    .files_info > p:first-child {
        display: none;
    }

    .files_info_list {
        margin-top: 40px;
    }
}

@media screen and (max-width: 550px) {
    .files {
        right: -10px !important;
        left: initial;
        bottom: -115px;
    }

    .files_info {
        display: grid !important;
        justify-content: normal;
        width: 100% !important;
    }

    .files_info div:not(.size_indicator_filler) {
        width: 100% !important;
    }

    .files_info p {
        white-space: nowrap;
    }

    .files_info p:last-child {
        text-align: end;
    }
}

@media screen and (max-width: 478px) {
    .drop_zone_content {
        justify-content: space-between;
        padding: 0 !important;
    }

    .upload_file_button {
        width: 100%;
        margin-top: 0 !important;
    }

    .files_description {
        margin-top: 10px;
    }

    .size_indicator_wrapper {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10px !important;
    }

    .size_indicator_wrapper div {
        grid-area: 2 / 1 / span 1 / span 2;
    }

    .size_indicator {
        width: 80vw !important;
    }
}
