.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list.max {
    max-width: 360px;
}


@media screen and (max-width: 1128px) {
    .list.max.list {
        max-width: unset;
        width: 100%;
    }
}
