.winner_card {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.04), 5px 5px 7px 0 rgba(0, 0, 0, 0.03), 11px 11px 10px 0 rgba(0, 0, 0, 0.02), 20px 20px 11px 0 rgba(0, 0, 0, 0.01), 31px 31px 12px 0 rgba(0, 0, 0, 0);
    background: var(--white);

    width: fit-content;
    justify-self: center;
}

.left {
    width: fit-content;
    display: grid;
    column-gap: 20px;
    row-gap: 12px;
    grid-template-columns: 1fr 10fr;
    align-items: end;
}

.left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--dark-blue);
}

.left p:nth-child(even) {
    max-width: 180px;
    width: 180px;
}

.left p:nth-child(odd) {
    max-width: 58px;
    width: 58px;
}

.winner_card_img {
    max-width: 262px;
    width: 262px;
    height: auto;

    /*aspect-ratio: 262 / 181;*/
    border-radius: 8px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: min-content;
}

.status {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.arrows {
    display: flex;
    gap: 20px;
    justify-self: end;
    align-self: end;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

@media screen and (min-width: 1441px){
    .left p:nth-child(even) {
        max-width: 250px;
        width: 250px;
    }
}

@media screen and (max-width: 689px){
    .info {
        flex-direction: column;
        gap: 16px;
    }

    .right {
        gap: 10px;
    }

    .winner_card {
        width: 100%;
        justify-content: center;
    }

    .left p:nth-child(even) {
        max-width: unset;
        width: unset;
    }

    .left p:nth-child(odd) {
        max-width: unset;
        width: unset;
    }

    .winner_card_img {
        max-width: unset;
    }
}