.input_block {
    padding: 11px;
    border-radius: 10px;
    background: var(--white);
    width: fit-content;
    margin-bottom: 60px;
}

.input_container {
    border-radius: 5px;
    background: var(--black-5);
    padding: 4px 4px 4px 14px;
    display: flex;
}

.input_block input {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
    outline: none;
    border: none;
    width: 372px;

    background: transparent;
}

.input_block button {
    border-radius: 5px;
    padding: 10px 30px;
    background: var(--dark-blue);

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
}