.card {
    border-radius: 10px;
    width: 100%;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.04), 5px 5px 7px 0 rgba(0, 0, 0, 0.03), 11px 11px 10px 0 rgba(0, 0, 0, 0.02), 20px 20px 11px 0 rgba(0, 0, 0, 0.01), 31px 31px 12px 0 rgba(0, 0, 0, 0);
    background: var(--white);
    padding: 8px 8px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card p {
    font-weight: 400;
    font-size: 18px;
    color: var(--black);
}

.button {
    background: transparent;
    cursor: pointer;
}