.top {
	margin: 24px 0 60px 0;
}

.top h1 {
	font-weight: 700;
	font-size: 46px;
	color: var(--dark-blue);
	margin-bottom: 24px;
}

.top_left_and_right {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.years_and_card {
	margin-top: 32px;
}

.top_bottom_block {
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
}

.show_all_winner_button {
	border-radius: 100px;
	padding: 14px 25px;
	background: linear-gradient(45deg, #0055fc 0%, #508bff 100%);

	font-weight: 500;
	font-size: 18px;
	color: var(--white);
}

.show_all_winner_button:hover {
	color: var(--white);
}

@media screen and (max-width: 1128px) {
	.top {
		margin: 40px 0 110px 0;
	}

	.top_left_and_right {
		display: flex;
		flex-direction: column;
		row-gap: 16px;
		align-items: center;
		justify-content: center;
	}

	.years_and_card {
		margin-top: 16px;
	}

	.show_all_winner_button {
		display: none;
	}

	.top_bottom_block {
		margin-top: 56px;
	}
}