.element {
    display: block;
    width: min-content;
    border-radius: 10px;
    padding: 10px;
    background: var(--white);
    cursor: pointer;
}

.element p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--black);
}

.element img {
    border-radius: 5px;
    width: 255px;
    height: 160px;
}